
        <h2>Modificar producto</h2>
        <form method="post" action="/producto/modificarProducto/<%=@producto.id%>">
            <%= token_tag nil %>
            <label>Nombre</label>
            <input type="text" name="nombre" value="<%= @producto.nombre %>" placeholder="Producto">

            <label>Precio</label>
            <input type="text" name="precio" value="<%= @producto.precio%>" placeholder="Precio">

            <input type="submit" name="" value="Modificar">
            <br>
        </form>
